<h2>Join the Community</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <form>

    <div class="form-group">
     <p><strong>Personal Details:</strong></p>
       <div class="row">
       <div class="col-md-4">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control" %>
       </div>   
       <div class="col-md-4">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" %>
       </div> 
       </div>
       <div class="row">  
       <div class="col-md-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
       </div> 
       </div>  
      </div>

      <%= f.fields_for :address, Address.new do |address| %>
        <div class="form-group">
          <p><strong>Address:</strong></p>
            <div class="row">
            <div class="col-md-4">
              <%= address.label :street %>
              <%= address.text_field :street, class: "form-control"  %>
            </div>
            <div class="col-md-4">
              <%= address.label :suburb %>
              <%= address.text_field :suburb, class: "form-control"  %>
            </div>
            </div>
            <div class="row">
            <div class="col-md-4">
              <%= address.label :city %>
              <%= address.text_field :city, class: "form-control"  %>
            </div>
           
            <div class="col-md-4">
              <%= address.label :state %>
              <%= address.text_field :state, class: "form-control"  %>
            </div>
            </div>
            <div class="row">
            <div class="col-md-4">
              <%= address.label :country %>
              <%= address.text_field :country, class: "form-control"  %>
            </div>
            </div>
        </div>    
      <% end %>
    

    <div class="form-group">
    <p><strong>Password:</strong></p>
      <div class="row">
      <div class="col-md-4">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="col-md-4">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    </div>
    <br>
    <div class="form-group">
   
    <div class="row">
    <div class="col-md-4">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: "form-control" %>
    </div>
    <div class ="col-md-4">
      <%= f.label :profile_pic %> 
      <%= f.file_field :profile_pic, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>
    </div>
    </div>


    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
  </form>

<%= render "devise/shared/links" %>
