<h2>Create a Listing</h2>


<%= form_with model: listing, local: true do |form| %>

<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>


<div>
  <%= form.label :price %>
  <%= form.number_field :price, min: 0 %>
</div>

<div>
  <%= form.label :quantity %>
  <%= form.number_field :quantity, min: 0 %>
</div>

<div>
  <%= form.label  :description%>
  <%= form.text_area :description %>
</div>

<div>
  <%= form.label :photo %> 
  <%= form.file_field :photo, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
</div>

<div>
  <%= form.submit %>
</div>
<% end %>
