<div class="container"> 
  <h2>Welcome To FarmerSmart</h2>

    <div class = "row justify-content-around">
      <% @listings.each do |listing| %>
    <%# rendered the partial for displaying image uploaded by user and if no image is displayed, default image will be displayed %>
      
        <div class="card text-center my-3 col-md-4 col-xs-12" style="max-width: 30%; min-width: 18rem;" >
        <div class="card-body-index">
         <div class="img-index" >
            <%= render "set-img",  listing: listing %>
         </div> 
        
        <h5><%= listing.title %></h5>
        <p>Price:<%=number_to_currency(listing.price)%></p>
        <p>Quantity:<%=listing.munit.name  %></p>
        <p>Category:<%=listing.category.name  %></p>
        <%# <%= link_to "View", listing %> 
        <%= button_to "View", listing, method: :get, class: "btn btn-primary" %>

      
        </div>
      </div>
      <% end %> 
      </div>
</div>


      
      
      
    
