<h1>Search Results</h1>

 

<% @listings_found.each do |listing| %>
  <div class = "card">
   <%# rendered the partial for displaying image uploaded by user and if no image is displayed, default image should be displayed %>
    <div class="index-img">
      <%= render "set-img", listing: listing %>
    </div>
    <h4><%= listing.title %></h4>
    <p>Price:<%=number_to_currency(listing.price)%></p>
    <p>Quantity:<%=listing.munit.name  %></p>
    <p>Category:<%=listing.category.name  %></p>
    <%# <%= link_to "View", listing %> 
    <%= button_to "view", listing, method: :get, class: "btn btn-primary" %>

    
   
    
  
    </div>
    
 <% end %> 
