 
  <div class="container"> 


<div class="card  my-3 col-md-4 col-xs-12" style="max-width: 40%; min-width: 18rem; margin: 0 auto;" >
<%# rendered the partial for displaying image uploaded by user and if no image is displayed, default image should be displayed %>
  <div class="card-body-show">
    <div class="show-img">
      <%= render "set-img", listing: @listing %>
    </div>  
    <h5><%= @listing.title %></h5>
    <p>Price:<%=number_to_currency(@listing.price)%></p>
    <p>Quantity:<%=@listing.munit.name  %></p>
    
    <p>Category:<%=@listing.category.name  %></p>
    <p>Description:<%=@listing.description  %></p>
    <h6>Location: <%= @listing.user.address.suburb %>
    
    <%# logic for displaying the links only if user in signed in and listing does not belongs to current user     %>
    <div>
          <%= link_to "Visit the farm", user_path(@listing.user.id)  %><br>
      <% if user_signed_in? && @listing.user.id != current_user.id %>
         
      <%# listing_id: @listing.id), method: :post have been added to link because by default link is get request and in this case we are adding a listing to cart which is a post request      %>

        <%= link_to carts_path(listing_id: @listing.id), method: :post,  class: 'btn btn-light ml-1 mb-1' do %>
          <%= image_tag 'cart.png', size: '30x30' %>
        <% end %> 
      <% end %>  

         

    </div>

       
        

    <div class="show-edit-delete">
    <% if can? :edit, @listing %>
      <%= link_to "Edit",  edit_listing_path(@listing.id) %>
      <%= link_to "Delete", listing_path(@listing.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
     
</div>
<%= link_to "Back", :back %>
</div>


      


   


