<h2>View Listing</h2>

<div class = "card">
<%# rendered the partial for displaying image uploaded by user and if no image is displayed, default image should be displayed %>
    <div class="show-img">
      <%= render "set-img", listing: @listing %>
    </div>  
    <h4><%= @listing.title %></h4>
    <p>Price:<%=number_to_currency(@listing.price)%></p>
    <p>Quantity:<%=@listing.munit.name  %></p>
    
    <p>Category:<%=@listing.category.name  %></p>
    <h6>Description:<%=@listing.description  %></h6>
    <h6>Location: <%= @listing.user.address.suburb %>
    
        
    <div>
        <%= link_to "Visit the farm", user_path(@listing.user.id)  %>
    </div>
        

    <div class="show-edit-delete">
    <% if can? :edit, @listing %>
      <%= link_to "Edit",  edit_listing_path(@listing.id) %>
      <%= link_to "Delete", listing_path(@listing.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
     
</div>
<%= link_to "Back", :back %>
      


   


