
<div class ="card-user">
<%= image_tag(@user.profile_pic, :class =>  "img-user")if @user.profile_pic.attached? %>

<h5><%= @user.first_name %></h5>
<p><%= @user.bio %> </p>
<p><strong>Address:</strong> <%= @user.address.street %>, <%= @user.address.suburb %>,<%= @user.address.city %>(<%= @user.address.state %>) </p>
<p><strong>Listings:</strong> </p>

   <ol>
      <% @user_listings.each do |l| %>
      <li> <%= l.title %> <%= number_to_currency(l.price)%>/<%=l.munit.name%></li>
     
      <% end %>
   </ol>

</div>

<%= link_to "Back", :back %>

