<h1>Cart</h1>

<% @cart_listings.each  do |listing| %>
  <p><%= listing.title %> <%= number_to_currency(listing.price) %></p>

  <%= link_to carts_path + "/#{listing.id}", method: :delete, data: { confirm: 'Are you sure?' } do %>
   <%= image_tag "delete.jpeg", size: "20x20" %>
   <% end %> 

   <%# <%= link_to "delete", listing_path(listing.id), method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>
<h6> Total:<%=number_to_currency (@total_cost) %></h6>
